*
!/.github
!/.github/**
!/bin
!/bin/**
!/src
!/src/**
!/.gitattributes
!/.gitignore
!/.npmrc
!/archiver.js
!/index.js
!/LICENSE
!/package.json
!/README.md
!/rutube-dl.sublime-project
!/.npmrc
!/*.png
